<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Test</title>
</head>
<body>
    <h1>Typing Speed Test</h1>
    <div class="Paragraph-box">
        <input type = "text" id = "typing-box" oninput = "updateInput(this)" value = "The quick brown fox jumps over the lazy dog" />
    </div>

    <button id="submit-button">submit</button>
    
</body>
<script>
    function updateInput(inputElement) {
        const originalText = "The quick brown fox jumps over the lazy dog";
        const inputText = inputElement.value;

        let updatedText = "";
        for (let i = 0; i < originalText.length; i++) {
            if (i >= inputText.length) {
                updatedText += "<span class='red'>" + originalText[i] + "</span>";
            } else {
                if (originalText[i] === inputText[i]) {
                    updatedText += "<span class='green'>" + originalText[i] + "</span>";
                } else {
                    updatedText += "<span class='red'>" + originalText[i] + "</span>";
                }
            }
        }
    }
    
</script>
</html>